<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/admin_head.ejs") %>
    <title>Revenue vs Time Line Graph</title>
</head>
  <body>
    <header><%- include("../partials/admin_navbar1.ejs") %></header>

    <main>
      <div class="cont">
        <div class="row">
          <!-- grey side nav bar -->
          <div class="col s12 m2 l2 ">
            <%- include("../partials/admin_sideNav.ejs") %>
          </div>
          <!-- main content page -->
          <div class="col s12 m10 l10 grey lighten-4" style="min-height: 100vh">
            <div class="grey lighten-4 row">
              <h4 class="center-align" style="margin: 0; padding: 1.5rem">
                Welcome back <%= username %>
              </h4>
            </div>
            <div class="topBar">
              <div class="products">
                products
                <h4 class="center-align green-text darken-5">21K</h4>
              </div>
              <div class="revenue">
                revenue
                <h4 class="center-align blue-text darken-5">$4,233K</h4>
              </div>
              <div class="lineGraph">Line Graph</div>
              <div class="pieChart">Pie Chart</div>
            </div>
            <p style="font-size: 1.5rem">Weekly Sales</p>
            <div id="chart"></div>

            <script>
        
              const salesData = <%- JSON.stringify(sales) %>;
            </script>

           
          </div>

        </div>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %>

    
  </body>
  <%- include("../partials/admin_foot.ejs") %>
  <script>

const dataset = salesData.map(d => d.sales_amount );
const margin = { top: 20, right: 20, bottom: 30, left: 40 };


function salesChart() {
  // Remove any existing SVG to prevent multiple charts
  d3.select("#chart").select("svg").remove();

  //setting up responsiveness
  const containerWidth = document.getElementById("chart").clientWidth; 
  const aspectRatio = 0.5;
  const width = containerWidth - margin.left - margin.right;
  const height = width * aspectRatio;

  // Create SVG container
  const svg = d3.select("#chart")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", `translate(${margin.left},${margin.top})`);

  // Set up x and y scales
  const x = d3.scaleBand()
      .domain(dataset.map((d, i) => i))
      .range([0, width])
      .padding(0.1);

  const y = d3.scaleLinear()
      .domain([0, d3.max(dataset)])
      .range([height, 0]);

  // Create x-axis
  svg.append("g")
      .attr("transform", `translate(0,${height})`)
      .call(d3.axisBottom(x).tickFormat(i => i + 1));

  // Create y-axis
  svg.append("g")
      .call(d3.axisLeft(y));

  // Append bars
  svg.selectAll(".bar")
      .data(dataset)
      .enter()
      .append("rect")
      .attr("class", "bar")
      .attr("x", (d, i) => x(i))
      .attr("y", d => y(d))
      .attr("width", x.bandwidth())
      .attr("height", d => height - y(d))
      .attr("fill", "steelblue");
}


salesChart();
window.addEventListener("resize", salesChart);
  </script>
</html>