<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/admin_head.ejs") %>
    <title>Revenue vs Time Line Graph</title>
    <Style>
      .cont{ margin-bottom: 0; min-height: 100vh; } .row{ margin-bottom: 0;
      margin-top: 0; } .list_item{ display: flex; flex-direction: row;
      align-items: center; padding: 4px; height: 3rem;} .list_item a{ color:
      #0d160c; } 
      .topBar{ 
        display: grid;
        grid-template-columns: 2fr 2fr 5fr 3fr;
      column-gap: 0.8rem;
      
       }
       .products,
.revenue,
.lineGraph,
.pieChart{
  background-color: white;
  height: 10rem;
}
    </Style>
  </head>
  <body>
    <header><%- include("../partials/admin_navbar1.ejs") %></header>

    <main>
      <div class="cont">
        <div class="row">
          <!-- grey side nav bar -->
          <div class="col s12 m2 l2 ">
            <ul>
              <hr />
              <h6 class="center-align">Admin tools</h6>
              <hr />
              <li class="list_item">
                <i class="material-icons" style="padding-right: 4px">
                  manage_accounts
                </i>
                <a href="/admin/myAccount"> My Account</a>
              </li>
              <li class="list_item">
                <i class="material-icons" style="padding-right: 4px">
                  qr_code_2
                </i>
                <a href="#"> Products</a>
              </li>
              <li class="list_item">
                <i class="material-icons" style="padding-right: 4px">
                  <span class="material-symbols-outlined">
                    signal_cellular_alt
                  </span>
                </i>
                <a href="#"> Analytics</a>
              </li>
              <li class="list_item">
                <i class="material-icons " style="padding-right: 4px">
                  query_stats
                </i>
                <a href="#"> Reports</a>
              </li>
              <br /><br />
              <hr />
              <h6 class="center-align">Configuration</h6>
              <hr />
              <li class="list_item">
                <i class="material-icons " style="padding-right: 4px">
                  settings
                </i>
                <a href="#"> Settings</a>
              </li>
              <li class="list_item">
                <i class="material-icons" style="padding-right: 4px">
                  lock
                </i>
                <a href="#"> Privacy</a>
              </li>
              <li class="list_item">
                <i class="material-icons" style="padding-right: 4px">
                  logout
                </i>
                <a href="/logout"> Logout</a>
              </li>

              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
          <!-- main content page -->
          <div class="col s12 m10 l10 grey lighten-4" style="min-height: 100vh">
            <div class="grey lighten-4 row">
              <h4 class="center-align" style="margin: 0; padding: 1.5rem">
                Welcome back <%= username %>
              </h4>
            </div>
            <div class="topBar">
              <div class="products">
                products
                <h4 class="center-align green-text darken-5">21K</h4>
              </div>
              <div class="revenue">
                revenue
                <h4 class="center-align blue-text darken-5">$4,233K</h4>
              </div>
              <div class="lineGraph">Line Graph</div>
              <div class="pieChart">Pie Chart</div>
            </div>
            <p style="font-size: 1.5rem">Weekly Sales</p>
            <div id="chart"></div>

           
          </div>
        </div>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %>

    
  </body>
  <%- include("../partials/admin_foot.ejs") %>
</html>