<!-- Pagination Controls -->
<ul class="pagination center-align">
    <% if(currentPage > 1 ){%>
    <li>
      <a href="/user/products/?page=<%=currentPage-1%>"
        ><i class="material-icons">chevron_left</i></a
      >
    </li>
    <%}%> <% for (let i = 1; i <= totalPages; i++) { %>
    <li class="<%= currentPage === i ? 'active' : 'waves-effect' %>">
      <a href="?page=<%= i %>"><%= i %></a>
    </li>
    <% } %> <% if(currentPage < totalPages ){%>
    <li>
      <a href="/user/products/?page=<%=currentPage+1%>"
        ><i class="material-icons">chevron_right</i></a
      >
    </li>
    <%}%>
  </ul>